@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9766 0.0301 90.3236);
  --foreground: oklch(0.3228 0.0594 221.5316);
  --card: oklch(0.9393 0.0366 93.3499);
  --card-foreground: oklch(0.3228 0.0594 221.5316);
  --popover: oklch(0.9393 0.0366 93.3499);
  --popover-foreground: oklch(0.3228 0.0594 221.5316);
  --primary: oklch(0.5770 0.1178 167.3469);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5412 0.0908 219.4267);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.8499 0.0066 197.0325);
  --muted-foreground: oklch(0.3228 0.0594 221.5316);
  --accent: oklch(0.5896 0.0901 43.8051);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.4313 0.1678 28.6852);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.6588 0.0275 205.7526);
  --input: oklch(0.6588 0.0275 205.7526);
  --ring: oklch(0.6276 0.2461 0.4795);
  --chart-1: oklch(0.6447 0.1785 249.3741);
  --chart-2: oklch(0.7080 0.1220 185.8701);
  --chart-3: oklch(0.5800 0.1981 5.2078);
  --chart-4: oklch(0.6066 0.2040 36.7850);
  --chart-5: oklch(0.6314 0.2542 29.1320);
  --sidebar: oklch(0.9766 0.0301 90.3236);
  --sidebar-foreground: oklch(0.3228 0.0594 221.5316);
  --sidebar-primary: oklch(0.6663 0.1383 303.4101);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5891 0.1208 235.0263);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.6588 0.0275 205.7526);
  --sidebar-ring: oklch(0.6391 0.2244 318.3046);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 1.025rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: #002533;
  --shadow-2xs: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.07);
  --shadow-sm: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 1px 2px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 1px 2px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow-md: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 2px 4px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow-lg: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 4px 6px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow-xl: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 8px 10px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2673 0.0486 219.8169);
  --foreground: oklch(0.7032 0.0225 196.6521);
  --card: oklch(0.3228 0.0594 221.5316);
  --card-foreground: oklch(0.7032 0.0225 196.6521);
  --popover: oklch(0.3228 0.0594 221.5316);
  --popover-foreground: oklch(0.7032 0.0225 196.6521);
  --primary: oklch(0.6276 0.2461 0.4795);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7080 0.1220 185.8701);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.5284 0.0390 219.7662);
  --muted-foreground: oklch(0.7032 0.0225 196.6521);
  --accent: oklch(0.6066 0.2040 36.7850);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6314 0.2542 29.1320);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.5284 0.0390 219.7662);
  --input: oklch(0.5284 0.0390 219.7662);
  --ring: oklch(0.6276 0.2461 0.4795);
  --chart-1: oklch(0.6447 0.1785 249.3741);
  --chart-2: oklch(0.7080 0.1220 185.8701);
  --chart-3: oklch(0.6276 0.2461 0.4795);
  --chart-4: oklch(0.6066 0.2040 36.7850);
  --chart-5: oklch(0.6314 0.2542 29.1320);
  --sidebar: oklch(0.2673 0.0486 219.8169);
  --sidebar-foreground: oklch(0.7032 0.0225 196.6521);
  --sidebar-primary: oklch(0.6276 0.2461 0.4795);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7080 0.1220 185.8701);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.5284 0.0390 219.7662);
  --sidebar-ring: oklch(0.6276 0.2461 0.4795);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 1.025rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: #002533;
  --shadow-2xs: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.07);
  --shadow-sm: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 1px 2px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 1px 2px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow-md: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 2px 4px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow-lg: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 4px 6px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow-xl: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.15), 2px 8px 10px -1px hsl(196.4706 100.0000% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196.4706 100.0000% 10% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  letter-spacing: var(--tracking-normal);
}
body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}